table{
  width: 60% !important;
  margin: 0 auto;
  font-size: 12px;
}

table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: right;
}
.tableHead td {
  font-family: 'Noto Sans' sansserif;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: grey !important;

}
tr:nth-child(odd) td{
  background-color: rgba(156,182,29,0.2);
}

tr:nth-child(even) {
  background-color: white;
}
.schraffiert {
  color: white;
  background: repeating-linear-gradient(
      -45deg,
      #ddd,
      #ddd 3px,
      #aaa 3px,
      #aaa 6px
  );
}
